.content {
    width: 1060px;
    min-height: 10px;
    margin: 10px auto;
}
.content .cLeft {
    float: left;
    width: 755px;
    min-height: 100px;
    height: 100%;
    border: 1px solid #e5e9ea;
}
.content .cRight {
    float: right;
    width: 295px;
    min-height: 100px;
    height: 100%;
    border: 1px solid #e5e9ea;
    position: relative;
}

.cLeft .imgShow {
    width: 628px;
    height: 347px;
    float: left;
}
.cLeft .imgShow img {
    width: 100%;
    height: 100%;
    border: none;
}
.cLeft .imgList {
    width: 122px;
    height: 347px;
    margin: 0;
    padding: 0;
    float: right;
}

.imgList li {
    width: 122px;
    height: 66px;
    margin-bottom: 4px;
    cursor: pointer;
    position: relative;
}
.imgList li:last-child {
    width: 122px;
    height: 68px;
    margin-bottom: 0;
}
.imgList li img {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
}
.imgList li:before {
    content: '';
    display: inline-block;
    width: 122px;
    height: 68px;
    background-color: #000;
    opacity: 0.6;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
}
.imgList li.selected:before {
    background: none;
    opacity: 0;
}

.right-top h4 {
    width: 275px;
    height: 50px;
    margin: 0 auto;
    line-height: 50px;
    font-weight: bold;
}
.right-top.notLoggedIn ul {
    width: 275px;
    height: 102px;
    margin: 10px auto 0 auto;
    padding: 0 5px;
    border: 1px solid #e5e9ea;
    border-radius: 6px;
}
.right-top.notLoggedIn ul li {
    width: 100%;
    height: 50px;
    line-height: 50px;
    margin: 0 auto;
    color: #a2a2a2;
    font-size: 14px;
}
.right-top.notLoggedIn ul li:first-child {
    border-bottom: 1px solid #e5e9ea;
}

.right-top.notLoggedIn ul li i {
    display: inline-block;
    margin: 0 8px 0 4px;
}
.right-top.notLoggedIn ul li input,
.right-top.notLoggedIn ul li input:hover,
.right-top.notLoggedIn ul li input:focus,
.right-top.notLoggedIn ul li input:active {
    border: none;
    width: 236px;
    height: 48px;
    font-size: 14px;
    line-height: 48px;
}
.cRight.first-right .userInfo {
    width: 275px;
    height: 75px;
    margin: 20px auto 10px auto;
    color: #525252;
}
.userInfo img {
    width: 75px;
    height: 75px;
    float: left;
}
.userInfo p {
    width: 185px;
    height: 55px;
    margin: 10px 0 10px 10px;
    font-size: 14px;
    float: left;
}
.cRight.first-right ul.userNav {
    width: 275px;
    height: 102px;
    margin: 10px auto 0 auto;
    padding: 0 5px;
}
ul.userNav li {
    width: 100%;
    height: 30px;
    line-height: 30px;
    margin: 20px auto;
    color: #525252;
    font-size: 14px;
}
ul.userNav li span {
    display: inline-block;
    width: 130px;
    cursor: pointer;
}
ul.userNav li span.userNavLeft {
    padding-right: 30px;
    text-align: right;
    border-right: 1px solid #1d8ede;
}
ul.userNav li span.userNavRight {
    width: 100px;
    margin-left: 30px;
    text-align: left;
}


.cRight.first-right .operation {
    width: 275px;
    height: 40px;
    line-height: 40px;
    margin: 0 auto;
    padding: 0 5px;
}
.operation label {
    cursor: pointer;
    float: left;
    font-weight: inherit;
}
.operation label input {
    position: relative;
    top: 2px;
    margin-right: 4px;
}
.operation a {
    float: right;
    color: #1d8ede;
    text-decoration: underline;
}
.cRight.first-right .btn-login {
    width: 275px;
    margin: 10px;
}

.content .cRight.first-right {
    height: 347px;
    border: none;
}
.first-right .right-top {
    width: 295px;
    height: 275px;
    border: 1px solid #e5e9ea;
    position: absolute;
    top: 0;
}
.first-right .right-top.loggedIn {
    display: none;
}


.first-right .right-title {
    width: 295px;
    height: 62px;
    border: 1px solid #e5e9ea;
    position: absolute;
    bottom: 0;
    background: url("../img/icon_title_01.jpg") no-repeat center;
    background-size: contain;
}

.content .cTitle {
    width: 100%;
    height: 34px;
    position: relative;
}
.cTitle .titleInfo {
    display: inline-block;
    width: 100px;
    height: 34px;
    line-height: 28px;
    background: url("../img/icon_bg_blue.png") no-repeat;
    color: #FFFFFF;
    font-size: 16px;
    text-align: center;
    position: absolute;
    top: 0;
    left: -7px;
}
.cTitle .titleMore {
    display: inline-block;
    width: 60px;
    height: 34px;
    line-height: 30px;
    text-align: right;
    color: #b4b4b4;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    cursor: pointer;
    position: absolute;
    top: 0;
    right: 10px;
}
.content .cList {
    height: 186px;
    margin: 0 auto 10px auto;
    padding: 0;
}
.cList li {
    height: 30px;
    line-height: 30px;
    text-indent: 10px;
    border-bottom: 1px dashed #e5e9ea;
    background: url("../img/icon_point_blue.jpg") no-repeat 0 center;
}
.cList li:last-child {
    border: none;
}
.cList li span.listInfo {
    display: inline-block;
    text-overflow: ellipsis;
    white-space: nowrap;
    *white-space: nowrap;
    overflow: hidden;
    float: left;
}
.cList li span.listDate {
    display: inline-block;
    width: 40px;
    color: #b1b1b1;
    text-align: right;
    float: right;
}

.content .cNewsList,
.cNewsList li {
    width: 730px;
}
.cNewsList li span.newsInfo {
    width: 680px;
}

.content .cNoticeList,
.cNoticeList li {
    width: 270px;
}
.cNoticeList li span.noticeInfo {
    width: 220px;
}

.content .cLeft.border-none {
    border: none;
    /*border: 1px solid #e5e9ea;*/
}
.left-bottom {
    width: 100%;
}
.left-bottom .member {
    width: 370px;
    border: 1px solid #e5e9ea;
    float: left;
}
.left-bottom .academic {
    width: 370px;
    border: 1px solid #e5e9ea;
    float: right;
}

.content .cMemberList,
.cMemberList li {
    width: 350px;
}
.cMemberList li span.memberInfo {
    width: 300px;
}

.content .cAcademicList,
.cAcademicList li {
    width: 350px;
}
.cAcademicList li span.academicInfo {
    width: 300px;
}

.content .resultList {
    border: 1px solid #e5e9ea;
    margin-bottom: 10px;
}
.resultList .resultBox {
    width: 745px;
    height: 286px;
    margin: 10px 0 10px 10px;
}
.resultBox .resultInfo {
    width: 176px;
    height: 138px;
    margin-right: 10px;
    margin-bottom: 10px;
    float: left;
}
.resultInfo img {
    width: 176px;
    height: 100px;
}
.resultInfo p {
    width: 176px;
    height: 20px;
    margin: 0;
    font-size: 12px;
    line-height: 20px;
}
.resultInfo p.infoBottom {
    color: #b1b1b1;
    font-size: 10px;
}
p.infoBottom .author {
    display: inline-block;
    width: 120px;
    float: left;
}
p.infoBottom .zambia {
    display: inline-block;
    min-width: 35px;
    text-align: right;
    cursor: pointer;
    float: right;
}
p.infoBottom .zambia i {
    display: inline-block;
    margin-right: 4px;
}

.content .cRight.introduction {
    height: 584px;
    border: none;
    padding-top: 60px;
    background: url("../img/icon_bg_all.png") no-repeat;
    background-size: cover;
}
.cRight.introduction p {
    width: 230px;
    min-height: 30px;
    line-height: 30px;
    padding-left: 30px;
}
.cRight.introduction p.intr-title {
    font-weight: bold;
    background: url("../img/icon_point_blue.jpg") no-repeat 15px center;
}
.cRight.introduction p.intr-info {
    font-size: 14px;
    color: #6a6a6a;
}
.cRight.introduction p.intr-info span {
    display: inline-block;
    width: 48px;
    height: 30px;
    margin-right: 12px;
    float: left;
    overflow: hidden;
    text-align: justify;
    text-align-last: justify;
}
.cRight.introduction p.intr-info span:after {
    display: inline-block;
    content: '';
    overflow: hidden;
    width: 100%;
    height: 0;
}